:root{
    --main-color:#00BCD4;
    --white:#F0F7FA;
    --text-color:#EAEAEA;
    --second-bg-color:#1E1E2F;
    --light-color:#A6A6A6;
    --bg-color:#121212;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.2s linear;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 1rem;
    height: 10rem;
}
::-webkit-scrollbar-track{
    color: transparent;
}
::-webkit-scrollbar-thumb{
    color: var(--main-color);
}
html{
    font-size: 63.5%;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    position: relative;
    min-height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  margin: 0 12px;
  text-decoration: none;
}

.logo{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 600;
}
.logo span{
    color: var(--main-color);
    text-transform: capitalize;
}
.header .navbar a{
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 0rem;
}
.header .navbar a#Home{
    color: var(--main-color);
    text-decoration: underline;
}
.header .navbar a:hover{
    color: var(--main-color);
    text-decoration: underline;
}

.header .navbar.active{
    display: block;
}
section{
    padding: 5rem 5%;
    scroll-margin-top: 80px;
}
.home{
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem
}
.home .content{
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}
.home .content h1{
    font-size:  4rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.home .content h1 span{
    color: var(--main-color);
}
.home .content h3{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
}
.home .content p{
    color: var(--text-color);
    font-size: 1.2rem;
    text-transform: lowercase;
    line-height: 1.5;
    width: 50rem;
    margin-bottom: 1rem;
    text-align: left;
}
.home .content .flex-btn{
    display: inline-block;

}
.home .content .flex-btn .btn{
    color: var(--main-color);
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: .2rem solid var(--main-color);
    border-radius: 0rem;
}
.home .content .flex-btn .btn.hire{
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
}
.home .content .flex-btn .btn:hover{
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    box-shadow: 1rem .5rem 1rem var(--main-color);
}
.home .content .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.home .content .icons i{
    color: var(--main-color);
    font-size: 2rem;
    border: .2rem solid var(--main-color);
    padding: 1rem;
    border-radius: 50%;
}
.home .content .icons i:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: .1rem .5rem var(--main-color);
}
.home img{
    border-radius: 50%;
    height: 45rem;
    width: 45rem;
    object-fit: cover;
    box-shadow: 0 0 2.5rem var(--main-color);
}
.home img:hover{
    box-shadow: 0 0 2.5rem var(--main-color),
                0 0 2.5rem var(--main-color),
                0 0 2.5rem var(--main-color);
}
.text-animation{
    font-size: 2rem;
    color: var(--text-color);
    text-transform: capitalize;
    min-width: 28rem;
    font-weight: 600;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "web developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite,
                typing 20s steps(14) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Fronted developer";
    }
    21%,
    40%{
        content: "Web Designer";
    }
    41%,
    60%{
        content: "UI / UX Designer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Software Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}
.menu i{
    color: var(--white);
    font-size: 2rem;
    display: none;
}
.menu i:hover{
    color: var(--main-color);
    text-shadow: .1rem .5rem 1rem var(--main-color);
}

.education{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--second-bg-color);
}

.education .heading{
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 7rem;
}
.education .timeline-items{
    max-width: 75rem;
    margin: auto;
}
.education .timeline-items::before{
    display: none;
}
.education .timeline-items .timeline-item{
    margin-bottom: 4rem;
    width: 100%;
    position: relative;
}
.education .timeline-item .timeline-item:last-child{
    margin-bottom: 0;
}
.education .timeline-items .timeline-item:nth-child(odd){
   margin-right: auto;
   width: 45%;
}

.education .timeline-items .timeline-item:nth-child(even){
    margin-left: auto;
    width: 45%;
}
.education .timeline-items .timeline-item .timeline-item-dot{
    position: absolute;
    left: calc(50% - 8px);
    top: 10px;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
.education .timeline-items .timeline-item .timeline-date{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
}
.education .timeline-items .timeline-item .timeline-content{
    padding: 1rem;
    border: 2rem solid var(--main-color);
    border-radius: 3rem;
    transition: .5s ease-in-out;
    background-color: var(--second-bg-color);
}

.education .timeline-items .timeline-item .timeline-content:hover{
    cursor: pointer;
    scale: 1.1;
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color)

}
.education .timeline-items .timeline-item .timeline-content h3{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}
.education .timeline-items .timeline-item .timeline-content p{
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2;
    text-transform: lowercase;
}
.skil{
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.skil .heading{
    font-size: 4rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.skil .box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}
.skil .box-container .box{
    background-color: var(--main-color);
    width: 40rem;
    padding: 2rem;
    border-radius: 3rem;
    border: .2rem solid var(--main-color);
    transition: .5s ease-in-out;
}
.skil .box-container .box:hover{
    background-color: var(--second-bg-color);
    box-shadow: .1rem .5rem 1rem var(--main-color);
    scale: 1.1;
}
.skil .box-container .box h3{
    font-size: 1.7rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 1rem;   
}
.skil .box-container .box p{
    font-size: 1.2rem;
    color: var(--text-color);
    text-transform: lowercase;
    margin-bottom: 1rem;
    line-height: 2;
}
.about {
  padding: 6rem 9%;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about .heading {
  font-size: 4.5rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.about .heading span{
    color: var(--main-color);
}
.about p {
  font-size: 1.6rem;
  line-height: 1.8;
  max-width: 800px;
  margin: 0 auto;
  color: var(--text-color);
}

.projects {
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--bg-color);
}
.projects .heading {
    font-size: 4rem;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
}
.projects .heading span{
    color: var(--main-color);
}
.project p{
    font-size: 1.2rem;
    color: var(--text-color);
    text-transform: lowercase;
    margin-bottom: 1rem;
    line-height: 2;
}

.projects .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.projects .project-list .project {
    background-color: var(--main-color);
    width: 40rem;
    padding: 2rem;
    border-radius: 3rem;
    border: .2rem solid var(--main-color);
    transition: .5s ease-in-out;
}

.projects .project-list .project:hover {
    background-color: var(--second-bg-color);
    box-shadow: .1rem .5rem 1rem var(--main-color);
    scale: 1.1;
}

.project-list h3 {
    font-size: 1.7rem;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.project-list p {
    font-size: 1.2rem;
    color: var(--text-color);
    text-transform: lowercase;
    margin-bottom: 1rem;
    line-height: 2;
}

.contact{
    min-height: 100vh;
    background-color: var(--bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;   
}
.contact .heading{
    color: var(--text-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}
.contact .heading span{
    color: var(--main-color);
}
.contact .form{
    width: 100%;
}
.contact .form form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}
.contact .form form .inputs,
.contact .form form .text{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 49%;
}
.contact .form form .inputs .input,
.contact .form form .text textarea{
    background-color: var(--bg-color);
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    width: 90%;
    border: .1rem solid var(--main-color);
    outline: none;
    color: var(--text-color);
    font-size: 1.5rem;
    text-transform: capitalize;
}
.contact .form form .text textarea{
    height: 15rem;
    resize: none;
}
.contact .form form .text .btn{
    color: var(--text-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.contact .form form .text .btn:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 25px var(--main-color),
                0 0 25px var(--main-color);
}
.footer{
    background-color: var(--second-bg-color);
    padding: 5rem 5%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
.footer .icons i{
    font-size: 2rem;
    color: var(--text-color);
    margin: 0 1rem;
}
.footer .icons i:hover{
    color: var(--main-color);
}
.footer .navbar{
    margin: 2rem 0;
}
.footer .navbar a{
    font-size: 1rem;
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 500;
    margin: 2rem 1rem;
}
.footer .navbar a:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.footer .create p{
    font-size: 1.3rem;
    color: var(--light-color);
    text-transform: capitalize;
}
.footer .create p i,
.footer .create p span{
    color: var(--main-color);
}

@media(max-width:990px){
    html{
        font-size: 55.5%;
}
    .home{
        flex-flow: column-reverse;
        padding: 8rem;
        padding-top: 15rem;
    }
    .home img{
        height: 35rem;
        width: 35rem;
    }
}

@media(max-width:700px){
    html{
        font-size: 50.5%;
    }
    .home{
        padding: 8rem 0;
    }
    section{
        padding: 1rem;
    }
    .header{
        position: relative;
        padding: 0;
    }
    .header .logo,
    .header .menu{
        padding: 1rem;
    }
    .menu i{
        display: flex;
    }
    .header .navbar{
        position: absolute;
        top: 7rem;
        display: none;
        text-align: center;
        justify-content: center;
        background-color: var(--main-color);
        width: 100%;
        padding: 1rem;
        gap: 2rem;
    }
    .header .navbar .active{
        display: grid;
    }
    .header .navbar a{
        width: 100%;
        padding: 1rem;
    }
    .header .navbar a:hover,
    .header .navbar a#Home:hover{
        background-color: var(--second-bg-color);
        color: var(--text-color);
        text-decoration: none;
    }
    .education .timeline-items{
        display: grid;
    }
    .contact .form form {
        display: grid;
    }
    .contact .form form .inputs,
    .contact .form form .text{
        width: 100%;
    }
    .contact .form form .inputs .input,
    .contact .form form .text textarea{
        width: 100%;
    }
}    
@media(max-width: 450px){

    .home .content p{
        width: 35rem;
    }
    .home img{
        height: 25rem;
        width: 25rem;
    }
    .contact{
        padding: 1rem 0;
    }









}
